.card {
  padding: 5%;
  margin: auto;
  border: black;
  height: auto;
  display: inline-block;
}

h1 {
  text-align: center;
  span: 20px;
  font-size: 48px !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 20px;
}
